<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="The Contrivoter"/>
    <meta property="og:description" content="우리들의 익명 투표 시스템"/>
    <meta property="og:image" content="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA2MDFfMjYy%2FMDAxNjU0MDUxNDE1NTMy.558OBqwmZ-32fv6OCQOaG32IOei1OWwMvIOZgi0R0R4g.MqdP7fA8p0vOxHcDoeA7Cf8V5ppFdHJx_-arsX5W07wg.JPEG.mckko%2F%25C1%25F6%25B9%25E6%25BC%25B1%25B0%25C5_%25B5%25B5%25C0%25E5_%25B5%25F0%25C0%25DA%25C0%25CE_%25B4%25EB%25C1%25F6_1.jpg&type=sc960_832"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>The Contrivoter</title>

    <style>
        .mainvote {
            width: 50%;
            margin: 10px auto 10px;
            height: 300px;
            box-shadow: 0px 0px 2px gray;
            border-radius: 10px;


            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .mainvote > button {
            margin-top: 20px;
        }
        .mainvote > button:hover{
            border: 1px solid white;
        }
    </style>
</head>
<body>
  <div class="mainvote">
      <h1>The Contri<span style="color: red">vote</span>r</h1>
      <button onclick="location.href='/vote-poll'" type="button" class="btn btn-primary">Create Vote</button>
  </div>
</body>
</html>