<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <script>
        $(document).ready(function () {
            show_vote();
        });

        function show_vote() {
            $('#vote-list').empty()
            $.ajax({
                type: "GET",
                url: "/api/vote-results",
                data: {},
                success: function (response) {
                    let rows = response
                    for (let i = 0; i < rows.length; i++) {
                        let title = rows[i]['title']
                        let id = rows[i]['id']
                        let temp_html = `
                                            <li>
                                                <h4>${title}
                                                    <div class="mybutton">
                                                    <button onClick="location.href='vote?id=${id}'" type="button" class="btn btn-outline-primary">투표하기</button>
                                                    <button onclick="location.href='vote-result?id=${id}'" type="button" class="btn btn-outline-success">결과보기</button>
                                                </div>
                                                </h4>
                                            </li>
                        `
                        $('#vote-list').append(temp_html)
                    }
                }
        })
        }

    </script>
    <style>
        .mybox{
            width: 45%;
            margin: 30px auto;
        }
        .mybutton{
            display: inline-block;
            float: right;
        }
        li {
            list-style: none;
            margin-bottom: 30px;
        }


    </style>
</head>
<body>
<header>{% include 'header.html' %}</header>
<div class="mybox" id="vote-list">

</div>
</body>
</html>